@tailwind components;

@layer components {
    .Footer {
        @apply flex justify-center items-center flex-col w-full font-Open
    }

    .Footer header {
        @apply text-5xl w-full flex justify-center items-center flex-col gap-12 py-32 font-extrabold
        md:text-3xl md:text-center md:w-full md:mb-28
    }

    .Footer header button {
        @apply w-96 bg-Pink text-lg rounded-full py-4 text-white shadow-xl
        md:w-full md:text-sm md:w-64
    }

    .Footer footer {
        @apply flex justify-between items-start bg-VeryDarkCyan p-32 text-white fill-white
        md:flex-col-reverse md:w-full     md:p-0
    }

    .Footer .HandleCard, .Newsletter {
        @apply w-1/3 flex flex-col gap-4 md:w-full md:p-6
        font-bold
    }

    .HandleCard p {
        @apply text-2xl pr-12 text-left  
        md:p-0 md:text-left md:text-base md:my-3 md:mb-12
    }

    .HandleCard ul {
        @apply flex  my-4 gap-8  md:gap-5 md:m-0
    }

    .HandleCard ul li {
        @apply flex gap-12 text-2xl  md:gap-5 md:text-xl font-medium md:text-center
    }
    .HandleCard svg {
        @apply w-10 h-10 mt-12 hover:fill-blue-400 cursor-pointer
        md:w-8
    }

    .Newsletter h1{
        @apply flex text-4xl font-extrabold uppercase my-3
        md:justify-start md:items-center 
    }
    .Newsletter p{
        @apply text-xl leading-10
        md:justify-center md:items-center md:text-left md:text-[15px] md:mb-4 md:leading-7 font-bold
    }
    .subscribe{
        @apply flex gap-12 w-full justify-around items-center
        md:flex-col md:w-full md:justify-start md:items-end md:gap-4
    }
    .subscribe input{
        @apply w-full rounded-lg h-12 text-black p-1 focus:border-white
    }
    .subscribe button{
        @apply w-1/2 bg-Pink p-3 rounded-lg font-bold
    }
}